@model List<AdoptList>

<div class="text-center">
<h1>Welcome to the Furever Adoption Agency.</h1>
<h2>Here are our animals</h2>






    @{
        List<AdoptList> distinctBreeds = Model.DistinctBy(b => b.Breed).ToList();
        foreach (AdoptList a in distinctBreeds)
        {
            <a class="nav-link text-dark p-0" asp-action="ListOfAnimals" asp-route-id="@a.Id">
           
                <p>@a.Breed</p>
                </a>
            
        }
    }

   @* <a href="@Url.Action("ListOfAnimals")">
    </a>*@
    @*<form asp-method="post" asp-action="BreedChoice">
    <p>Choose which animal type you are looking for.</p>
    <input type="text"/>
    <input type="submit" />

    </form>
    *@









</div>

