


<form asp-method="post" asp-action="NewAnimal1">

<p>What kind of animal is this?</p>
<input type="text" name="Breed" required />

<p>What is the name of this Animal?</p>
<input type="text" name="Name" required />

<p>Please provide a brief description.</p>
<textarea name="Description" rows="4" cols="50"></textarea>

<p>How old is this animal?</p>
<input type="text" name="Age" required />

<p>Please include a link to an image of this animal</p>
<input type="text" name="Img" required />

<input type="submit" value="I'm a monster"/>

</form>







